.family-tree div{
    border: 1px solid tan;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.style{
    border: 1px solid tan;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}